#numeral-systems-container {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    /* transform: translateX(-10px); */
    padding: 10px;
    background-color: var(--numeral-systems-container-background-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#binary-btn, #hexadecimal-btn {
    height: 30px;
}

@media (min-width: 1080px) {
    #numeral-systems-container {
        top: 62%;
        right: 23%;
    }
}

@media (max-width: 1079px) {
    #numeral-systems-container {
        border-radius: 5px;
        top: 0;
        left: 0;
    }
}